<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Redirige al directorio 'public' si la URL está vacía
    RewriteRule ^$ public/ [L]
    
    # Redirige todas las solicitudes a la carpeta 'public'
    RewriteRule (.*) public/$1 [L]
    </IfModule>
    